

// breakpoints mixin
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $value: map-get($breakpoints, $breakpoint);
       
      @media screen and (min-width: $value) {
          @content;
      }
  }
   
  //@warn "Unknown `#{$breakpoint}` in $breakpoints";
}

@mixin max-respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $value: map-get($breakpoints, $breakpoint);
       
      @media screen and (max-width: $value) {
          @content;
      }
  }
   
  //@warn "Unknown `#{$breakpoint}` in $breakpoints";
}

@mixin primary-grid-layout(){
  display: grid;
  grid-template-columns: repeat(2, [col-start] 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  justify-items: center;
  align-items: center;

  @include max-respond-to(m){
      grid-template-columns: 1fr;
      grid-auto-rows: auto auto;
  }
}