

// breakpoints mixin
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $value: map-get($breakpoints, $breakpoint);
       
      @media screen and (min-width: $value) {
          @content;
      }
  }
   
  //@warn "Unknown `#{$breakpoint}` in $breakpoints";
}

@mixin max-respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
      $value: map-get($breakpoints, $breakpoint);
       
      @media screen and (max-width: $value) {
          @content;
      }
  }
   
  //@warn "Unknown `#{$breakpoint}` in $breakpoints";
}