html {
  height: 100%
}

body {
  background-color: $branded-yellow;
  min-height: 100%;
  //overflow: hidden;
  word-wrap: break-word;
  margin: 0rem auto;
  padding: 0rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  overflow: hidden;
}

footer {
  overflow: hidden;
}

.main-content {
  max-width: 36rem;
  margin: 0rem auto;

 /* @include respond-to(xl) {
    margin-left: 7vw;
  }
  
  @include respond-to(l) {
    max-width: 64rem;
    padding: 2rem 7vw !important;
    margin: 0 auto;
    //margin-left: 4vw;
  }

  @include respond-to(m) {
    padding: 2rem 4rem;
  }

  @include respond-to(s) {
    padding: 3rem;
  }  /**/

  p:first-of-type {
    font-size: ms(1);
    line-height: 1.35;
  }

}  


.logo-text {
  font-weight: 900;
  text-transform: uppercase;
  font-size: ms(1);
  margin-bottom: 0rem;
  
  a {
    text-decoration: none;
    color: $branded-brown;
  }

  a:visited {
    color: $branded-brown;
  }
}

.nav-header {
  text-transform: uppercase;
  font-size: ms(1);
}

hr {
  border-style: solid;
  border-color: #E4C14F;
}

.open-source-note {
  color: #C2A440;
}

.cta-btn {
  display: inline-block;
  font-weight: 700;
  font-size: ms(0);
  color: $branded-brown;
  line-height: 1.1;
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  text-decoration: none;
  background-color: #F5F2EB;
  box-shadow: 0px 3px 12px rgba(67, 62, 54, 0.34);
  border-radius: 200px;
  transition: transform 600ms;
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);

  &:first-of-type {
    margin-right: 1rem;
  }
  
  &:hover {
    transform: translate3d(0, -0.25rem, 0);
  }

  &::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 200px;
  box-shadow: 0px 8px 24px rgba(67, 62, 54, 1);
  opacity: 0;
  transition: opacity 400ms;
  transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  }

  &:hover::after {
    opacity: 0.3;
  }
}

.install-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
  }

}

.standard-container {
  position: relative;
  padding-left:2rem;
  padding-right: 2rem;
  max-width: 64rem;
  margin: 0rem auto;

  @include max-respond-to(m){
    max-width: 100%;
  }
}

.footer__container{
  display: grid;
  grid-template-columns: repeat(3, [col-start] 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  justify-items: center;
  align-items: start;
  padding-bottom: 2rem;
  border-top: 1px solid $branded-beige-dark;

  grid-template-areas: 
    "about feedback .";

  @include max-respond-to(m){
      grid-template-columns: auto auto;
      //grid-auto-rows: auto auto;
  }
}

.footer__header{
  font-size: ms(0);
  margin-bottom: 0.5rem;
  color: $branded-brown-light;
}

.footer__description{
  font-size: ms(-1);
  color: $branded-brown-light;
}

.home__section {
  @include primary-grid-layout();
  
  padding-top: 3rem;
  padding-bottom: 6rem;
  position: relative;

  grid-template-areas:
    "artwork description ";

  @include max-respond-to(m){
    grid-template-areas:
      "artwork"
      "description";
  }
}

.home__section--reverse-order {
  grid-template-areas:
    "description artwork";

  @include max-respond-to(m){
    grid-template-areas:
      "artwork"
      "description";
  }
}

.home__art {
  grid-area: artwork;
}

.home__art--main-art {
  position: relative;
  right: unset;
  
  @media screen and (max-width: 1020px) {
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    max-width: 784px;
  }

  @include max-respond-to(m) {
    position: relative;
    right: unset;
    max-width: unset;
    top: unset;
    width: 100%
  }
}

.home__description {
  grid-area: description;
  //padding: 0rem 2rem;
}

.bgcolor--beige-light {
  position: relative;

  &::before {
    content:"";
    //position: absolute;
    z-index: -1;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    margin-left: -50vw;
    margin-right: -50vw;
    background: $branded-beige-lighter;
  }
}

.bgcolor--beige {
  position: relative;

  &::before {
    content:"";
    //position: absolute;
    z-index: -1;
    width: 100vw;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    bottom: 0;
    margin-left: -50vw;
    margin-right: -50vw;
    background: $branded-beige;
  }
}

.curved-bg--beige{
  position: absolute;
  fill: $branded-beige;
  bottom: 0;
  width: 100vw;
  //height: 10vw;
  transform: rotate(180deg);
  z-index: -1;
  margin-bottom: -2px;
}

.curved-bg--beige-lighter{
  position: absolute;
  fill: $branded-beige-lighter;
  bottom: 0;
  width: 100vw;
  //height: 10vw;
  transform: rotate(180deg);
  z-index: -1;
  margin-bottom: -2px;
}