.onboarding-logo{
  color: inherit;

  a {
    text-decoration: none;
    opacity: 0.4;
    transition: 300ms;
  }
  a:visited {
    color: inherit;
  }
  a:hover {
    opacity: 0.6;
    transition: 300ms;
  }
}

.onboarding-tutorial__installed-text{
  font-size: ms(1);
  opacity: 0.8;
}

.onboarding-tutorial {
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  
  @include primary-grid-layout();

  grid-template-areas:
    "artwork description ";

  @include max-respond-to(m){
    grid-template-areas:
      "artwork"
      "description";
  }

}

.onboarding-tutorial__text {
  //background-color: #ffffff;
  grid-area: description;
  //padding-left: 2rem;

}

.onboarding-tutorial__image {
  //background-color: #ffffff;
  grid-area: artwork;
  display: flex;
  position: relative;
  overflow: hidden;
  display: block;

  @include max-respond-to(l){
    position: absolute;
    right: 0;
    width: 500px;
  }

  @include max-respond-to(m){
    position: relative;
    right: unset;
    width: unset;
  }

  img {
    height: unset;
  }
}

.onboarding-tutorial__image--notification {
  position: absolute;
  top: 1rem;
  right: 1rem;
  //transform: translateX(25rem);

  animation-name: notify;
  animation-duration: 3.5s; 
  animation-timing-function: cubic-bezier(0.2,1,0.3,1);
  animation-direction: alternate; 
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes notify {
  0%, 90% {
    transform: translateX(0rem); 
  }
  100% {
    transform: translateX(25rem);
  }
}/**/

.onboarding-tutorial__image--explanation {
  position: absolute;
  top: 10%;
  right: -4%;
  opacity: 0;
  width: 65%;

  animation-name: showicon;
  animation-duration: 4s; 
  animation-timing-function: cubic-bezier(0.2,1,0.3,1);
  animation-direction: alternate; 
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 2s;
}

@keyframes showicon {
  0% {
    opacity: 0;
    
  }
  30% {
    opacity: 1;
    transform: scale(1rem);
  }
  40% {
    opacity: 1;
    transform: scale(0rem);
  } 
  100% {
    
    opacity: 1;
    transform: scale(0rem);
  }
}

