$typi-ms: (
  null: 1.25,
  s: 1.2,
  m: 1.25,
  l: 1.25,
  xl: 1.25
);

$typi: (
  base: (
    null: (16px, 1.5),
    s: (16px),
    m: (16px),
    l: (17px),
    xl: (18px)
  ),
  h1: (
    null: (4, 1.2),
    s: (4, 1.2),
    m: (4, 1.2),
    l: (4, 1.2),
    xl: (4, 1.2)
  ),
  h2: (
    null: (3, 1.2),
    s: (3, 1.2),
    m: (3, 1.2),
    l: (3, 1.2),
    xl: (3, 1.2)
  ),
  h3: (
    null: (2, 1.2),
    s: (2, 1.2),
    m: (2, 1.2),
    l: (2, 1.2),
    xl: (2, 1.2)
  ),
  h4: (
    null: (1, 1.25),
    s: (1, 1.25),
    m: (1, 1.25),
    l: (1, 1.25),
    xl: (1, 1.25),
  ),
  h5: (
    null: (1, 1.25),
    s: (1, 1.25),
    m: (1, 1.25),
    l: (1, 1.25),
    xl: (1, 1.25)
  ),
  h6: (
    null: 0,
    s: 0,
    m: 0,
    l: 0,
    xl: 0
  ),
  figcaption: (  // why isn't this working?
    null: -1,
    s: -1,
    m: -1,
    l: -1,
    xl: -1
  )
);

$typography-weight: (
  h1: 400,
  h2: 400,
  h3: 400,
  h4: 400,
  h5: 900,
  h6: 900
);

@include typi-init;


html, body {
  //-ms-word-break: break-all;
  //word-break: break-all;

  /* Non standard for WebKit */
  //word-break: break-word;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: $body-font-stack;
}

// Header Styling
@for $i from 1 through 6 {
  h#{$i} {
    @include typi('h#{$i}');
    font-weight: map-get($typography-weight , h#{$i} );
    font-family: $display-font-stack;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $branded-brown;
  }
}

figcaption{
  @include typi('figcaption');
}

p {
  margin-bottom: 1rem;
}

code {
  padding: 2px 4px;
  font-family: $code-font-stack;
  font-size: 0.9rem;
  color: $code-text-color;
  background-color: $code-bg-color;
  border-radius: 0.3rem;
}

pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem $code-font-stack;
  color: $code-text-color;
  word-wrap: normal;
  background-color: $code-bg-color;
  border: solid 1px $border-color;
  border-radius: 0.3rem;

  > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: $code-text-color;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
  }
}

.highlight {
  margin-bottom: 1rem;

  pre {
    margin-bottom: 0;
    word-break: normal;
  }
}

.highlight pre,
pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem;
  -webkit-overflow-scrolling: touch;
}

pre code,
pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;

  &:before,
  &:after {
    content: normal;
  }
}

ul,
ol {
  margin-top: 0;
}

blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: $blockquote-text-color;
  border-left: 0.3rem solid $border-color;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

figcaption {
  color: $caption-text-color;
  text-align: center;
  font-style: italic;
}